{
    "extends": [
        "@steroidsjs/eslint-config/backend"
    ],
    "rules": {
      "prettier/prettier": "off",
      "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.ts"] }]
    },
    "ignorePatterns": [
        "src/**/migrations/*.ts"
    ]
}
